# Path to the ESP-IDF source repository
export IDF_PATH=$(pwd)/deps/esp-idf
# Path to built ESP-IDF tools
export IDF_TOOLS_PATH=$(pwd)/idf-tools

if [ -e $IDF_TOOLS_PATH/python_env/idf5.4_py3.12_env/bin/activate ]; then
	. $IDF_PATH/export.sh
  . $IDF_TOOLS_PATH/python_env/idf5.4_py3.12_env/bin/activate
else
    echo "To set up esp-idf toolchain, run the following command:"
    echo ""
    echo "  ./deps/esp-idf/install.sh"
    echo ""
    echo "See README.md for setup instructions."
fi
